$title-font: 'Montserrat', sans-serif;
$background-color: #c6d4ea;
$white: #fff;

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $title-font;
}

.container{
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  clear: both;
  background: $background-color;
}

.row:before, .row:after{
  content: " ";
  display: table;
}

.row:after{
  clear: both;
}

[class*="col-"]{
  min-height: 7px;
  padding: 12px;
  float: left;
}

.templateRow{
  content: " ";
  display: table;
}

.row{
  &:before{
    @extend .templateRow;
  }
  &:after{
    @extend .templateRow;
    clear: both;
  }
}

@function columnWidth($i){
  @return percentage(($i/12));
}

@for $i from 1 through 12{
  .col-#{$i}{
    width: columnWidth($i);
  }
}

@for $i from 1 through 12{
  .col-#{$i}-offset{
    margin-left: columnWidth($i);
  }
}

nav ul, footer ul{
  background: $white;
  display: flex;
  justify-content: space-around;
}

ul li{
  list-style: none;
}

.material-icons{
  font-size: 30px !important;
}

li a{
  text-decoration: none;
  color: $background-color;
  // margin-left: 30px;
}

a:hover{
  color: #6FA2FF;
}

img{
  width: 100%;
  height: auto;
}

.card{
  margin: 42px 0 -60px 0;
}

.name{
  color: #fff;
  font-size: 12px;
  display: inline-block;
  position: absolute;
  margin-top: -58px;
  text-align: center;
}

.userName{
  @extend .name;
  font-size: 10px;
  margin-top: 2px;
}

.fullPicture{
  @extend img;
  filter: opacity(30%);
}

#bigName{
  @extend .name;
  font-size: 20px;
  margin-top: -94px;
  margin-left: 94px;
}

#user{
  @extend .name;
  font-size: 20px;
  margin-top: -68px;
  margin-left: 94px;
}

#info{
  margin: 35px;
  color: gray;
  font-size: 20px;
  line-height: 35px;
}

.invisible{
  display: none;
}

footer{
  background: $white;
  margin-top: 60px;
}

@media (max-width: 1200px){
  img{
    width: 50%;
    height: auto;
  }
}
