$texto-cuerpo: 'Roboto', sans-serif;
$font-titulo: 'Montserrat', sans-serif;
$font-link: 'Roboto Mono', monospace;

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $font-titulo;
  // padding: 20px;
}

.container{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  clear: both;
}

.row:before, .row:after{
  content: " ";
  display: table;
}

.row:after{
  clear: both;
}

[class*="col-"]{
  min-height: 7px;
  padding: 12px;
  float: left;
}

.templateRow{
  content: " ";
  display: table;
}

.row{
  &:before{
    @extend .templateRow;
  }
  &:after{
    @extend .templateRow;
    clear: both;
  }
}

@function columnWidth($i){
  @return percentage(($i/12));
}

@for $i from 1 through 12{
  .col-#{$i}{
    width: columnWidth($i);
  }
}

@for $i from 1 through 12{
  .col-#{$i}-offset{
    margin-left: columnWidth($i);
  }
}

img{
  width: 165px;
}

// .card{
//   // border: 1px solid black;
//   // margin: 1px 10px;
//   // width: 185px;
//   display: flex;
// }

.name{
  font-family: $font-titulo;
  color: #fff;
  font-size: 17px;
  display: flex;
  justify-content: center;
  margin-top: -58px;
}

.userName{
  @extend .name;
  font-size: 10px;
  margin-top: 2px;
}

// .contentCard{
//   font-family: $font-titulo;
//   color: red;
//   font-size: 12px;
//
// }
